<section class="card-block">
  <div class="card-head d-flex align-items-center justify-content-between mb-3">
    <h5 class="mb-0">Informations personnelles</h5>
  </div>

  <form [formGroup]="form" class="row g-3">
    <div class="col-3">
      <label class="form-label">Nouveau mot de passe</label>
      <input
        type="password"
        class="form-control input-soft"
        formControlName="password"
        [class.is-invalid]="hasError('password')"
      />
      <div class="invalid-feedback" *ngIf="hasError('password')">
        {{ showErrorMessage("password") }}
      </div>
    </div>

    <div class="col-3">
      <label class="form-label">Confirmer mot de passe</label>
      <input
        type="password"
        class="form-control input-soft"
        formControlName="confirmPassword"
        [class.is-invalid]="hasError('confirmPassword')"
      />
      <div class="invalid-feedback" *ngIf="hasError('confirmPassword')">
        Champs requis
      </div>
      <div
        class="text-danger"
        *ngIf="
          form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.touched
        "
      >
        * Les mots de passe ne correspondent pas.
      </div>
    </div>
    <div class="text-left mt-3">
      <button
        class="btn btn-primary btn-sm"
        [disabled]="!form.valid || form.pristine || saving"
        (click)="save()"
      >
        <span *ngIf="!saving">Enregistrer</span>
        <span *ngIf="saving">
          <span
            class="spinner-border spinner-border-sm me-1"
            aria-hidden="true"
          ></span>
          Enregistrement...
        </span>
      </button>
      <button type="button" class="btn btn-light btn-sm" (click)="reset()">
        Annuler
      </button>
    </div>
  </form>
</section>
