<div class="container py-3">
  <div class="pricing-header">
    <h2>Choisissez votre pack</h2>
    <p>
      Choisissez le forfait qui correspond le mieux à vos besoins. Annulez ou
      passez à un forfait supérieur à tout moment.
    </p>
  </div>

  <div
    class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 justify-content-center"
  >
    <!-- Pack Gratuit -->
    <div class="col" *ngFor="let row of rows">
      <div
        [ngClass]="[
          'card pricing-card',
          row.isFree ? 'free' : isPopularPlan(row) ? 'featured' : ''
        ]"
      >
        <div class="card-body">
          <span class="popular-badge" *ngIf="isPopularPlan(row)"
            >Bon choix</span
          >
          <h5 class="pack-name">{{ formatName(row.name) }}</h5>
          <!-- <p class="pack-period">Forever Free</p> -->

          <div class="price-container">
            <span class="price-amount">{{ row.price }} F</span>
          </div>

          <ul class="list-unstyled feature-list">
            <li *ngFor="let b of row.benefits">{{ b }}</li>
          </ul>
          <ng-container *ngIf="!isPopularPlan(row); else popularButton">
            <button
              [ngClass]="[
                'btn btn-custom w-100',
                row.isFree ? 'btn-free' : 'btn-outline-custom '
              ]"
              (click)="startPlanSubscription(row)"
            >
              <i class="fas fa-check me-2"></i
              >{{ row.isFree ? "Commencer" : "Choisir" }}
            </button>
          </ng-container>
          <ng-template #popularButton>
            <button
              class="btn btn-gradient btn-custom w-100"
              (click)="startPlanSubscription(row)"
            >
              <i class="fas fa-crown me-2"></i>Choisir PRO
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
