<div class="profile-shell">
  <!-- SIDEBAR -->
  <aside class="sidebar">
    <nav class="nav-menu">
      <div class="menu-section">
        <span class="menu-label">Main Menu</span>

        <a
          routerLink="/users/dashboard"
          routerLinkActive="active"
          class="menu-item"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <rect x="3" y="3" width="7" height="7" />
            <rect x="14" y="3" width="7" height="7" />
            <rect x="14" y="14" width="7" height="7" />
            <rect x="3" y="14" width="7" height="7" />
          </svg>
          <span>Dashboard</span>
        </a>

        <a
          routerLink="/users/transactions"
          routerLinkActive="active"
          class="menu-item"
        >
          <i class="fa-regular fa-credit-card"></i>
          <span>Payments</span>
        </a>

        <a
          routerLink="/profile/messages"
          routerLinkActive="active"
          class="menu-item"
        >
          <i class="fa-regular fa-message"></i>
          <span>Messages</span>
          <span class="badge" *ngIf="unread > 0">{{ unread }}</span>
        </a>

        <a
          routerLink="/users/profile"
          routerLinkActive="active"
          class="menu-item"
        >
          <i class="fa-solid fa-user-gear"></i>
          <span>Paramètres</span>
        </a>
      </div>

      <div class="menu-section">
        <span class="menu-label">General</span>
        <button class="menu-item" (click)="logout()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
            <polyline points="16 17 21 12 16 7" />
            <line x1="21" y1="12" x2="9" y2="12" />
          </svg>
          <span>Log out</span>
        </button>
      </div>
    </nav>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
