<div class="admin-card">
  <div class="card-head d-flex justify-content-between align-items-center">
    <div>
      <h5 class="mb-0">{{ headerText }} catégorie</h5>
      <div class="text-muted small">{{ subHeaderText }}</div>
    </div>
  </div>

  <hr />
  <div class="admin-table-wrap">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="">
            <form
              class=""
              [formGroup]="CategoryForm"
              (ngSubmit)="onSubmit()"
              novalidate
            >
              <div class="col-5 mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input
                  type="email"
                  class="form-control"
                  id="name"
                  aria-describedby="namePelp"
                  formControlName="name"
                />
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!CategoryForm.valid || isSubmit"
              >
                {{ buttonLabel }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
